workflows/My workflow(1).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f1948106-d24a-4b24-8202-e420c0949e19",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "32479694-4931-4ee6-8c56-a93d8b3c19b3",
      "name": "Webhook",
      "webhookId": "f1948106-d24a-4b24-8202-e420c0949e19"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT nome, saldo_ferias FROM funcionarios WHERE cpf = '{{ $json.body.cpf }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        0
      ],
      "id": "209b50e7-7de2-4286-a1bc-20c549335bd7",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "BJjvcbbYPtVBxg5r",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "568be72f-e6ab-4708-988f-854c291a99cf",
              "leftValue": "={{ $json.nome }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "f25fb894-16c0-441b-a65e-f6a16b1411ce",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "{\n  \"myField\": \"Desculpe, não encontrei um colaborador com este CPF. Por favor, verifique os dados ou entre em contato com o suporte do RH.\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        624,
        224
      ],
      "id": "a2e3cd0a-7838-42a4-8ca0-0225f78f14fb",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "71789a59-80fa-46a0-9c0f-38895d20551e",
                    "leftValue": "={{ $node[\"Webhook\"].json.body.mensagem }}",
                    "rightValue": ".*f.rias.*",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2a8c68d1-5d61-464a-83f6-59f24e36c85e",
                    "leftValue": "={{ $('Webhook').item.json.body.mensagem.toLowerCase() }}",
                    "rightValue": ".*(holerite|contracheque|pagamento).*",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d5796d75-890b-4385-8550-404b80b24cee",
                    "leftValue": "={{ $node[\"Webhook\"].json.body.mensagem.normalize('NFD').replace(/[\\u0300-\\u036f]/g, \"\").toLowerCase() }}",
                    "rightValue": ".*(benef.cio|plano|sa.de|vr|va).*",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "278cc788-17b8-4611-a476-b7f6c63841bc",
                    "leftValue": "={{ $node[\"Webhook\"].json.body.mensagem.normalize('NFD').replace(/[\\u0300-\\u036f]/g, \"\").toLowerCase() }}",
                    "rightValue": ".*(documento|declara[cç][aã]o).*",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e11aff7a-1bdd-446f-9bfe-6948aaca55ce",
                    "leftValue": "={{ $node[\"Webhook\"].json.body.mensagem.normalize('NFD').replace(/[\\u0300-\\u036f]/g, \"\").toLowerCase() }}",
                    "rightValue": ".*(onboarding|novo|treinamento).*",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ff94d822-1c2e-4c90-9b95-7ef3f0b2f5e5",
                    "leftValue": "={{ $node[\"Webhook\"].json.body.mensagem.normalize('NFD').replace(/[\\u0300-\\u036f]/g, \"\").toLowerCase() }}",
                    "rightValue": ".*(humano|atendente|falar).*",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5fe592cf-7502-4b1a-82bc-7b06f1ff22cf",
                    "leftValue": "false",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": "={{ true }}",
              "outputKey": "Não Entendi / Fallback"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        624,
        -96
      ],
      "id": "97166c6c-048f-49a0-bd5d-d729e44d87fd",
      "name": "Switch"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "{\n  \"myField\": \"Olá {{ $node[\"Execute a SQL query\"].json[\"nome\"] }}! Seu saldo de férias atual é de {{ $node[\"Execute a SQL query\"].json[\"saldo_ferias\"] }} dias.\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        880,
        -560
      ],
      "id": "3c3b4600-08fd-4c23-b123-3cdcb9d7247c",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=Olá {{ $node[\"Execute a SQL query\"].json[\"nome\"] }}, seu holerite do mês atual já está disponível para consulta. Acesse pelo link: {{ $node[\"Execute a SQL query\"].json[\"link_holerite\"] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        880,
        -416
      ],
      "id": "d2959f11-94bc-4b32-a845-6e3d41851c53",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "\"Olá! No momento eu só consigo te ajudar com:\n\n    Consulta de Férias\n    Consulta de Holerite\nPor favor, digite uma dessas palavras para prosseguirmos.\"",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        880,
        336
      ],
      "id": "c9d566e5-dbc2-4a7f-b7da-a776c183d26b",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Qual benefício você tem dúvida? \\n(A) Plano de Saúde: [Link da rede credenciada] \\n(B) Vale Refeição: Depósitos todo dia 01.",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        880,
        -256
      ],
      "id": "377b7114-00a4-4328-8cd2-c12be25cc411",
      "name": "Respond to Webhook4"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=Certo, {{ $json.nome }}. Quais documentos você precisa? \\n📄 Declaração de rendimentos \\n📄 Declaração de vínculo \\n(Favor solicitar ao e-mail rh@empresa.com.br)",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        880,
        -112
      ],
      "id": "519c7976-b3e6-4e72-96f6-5c16b849e2cb",
      "name": "Respond to Webhook5"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Bem-vindo ao time! 🚀 Veja sua checklist: \\n(A) Assinar documentos \\n(B) Treinamentos \\n(C) FAQ inicial \\n[Link do Portal do Colaborador]",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        880,
        32
      ],
      "id": "2b43c9f2-62cf-4dfc-a826-69893083ccb8",
      "name": "Respond to Webhook6"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Entendido. Vou te transferir para um atendente humano agora. Por favor, aguarde um momento. 🧑‍💻",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        880,
        176
      ],
      "id": "a32072b2-0472-4287-83cf-3ddd8777f0fe",
      "name": "Respond to Webhook7"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "34167e13-1153-4841-aedd-d75a6ac6b852",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "981e0a21a8624a205991df1dd258aaa78c0cd417560b45e5aa9d1b2fa2366c1f"
  },
  "id": "EpX7QfrttxxaRP8-h_Xel",
  "tags": []
}